ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
CODE_SIGN_IDENTITY=Apple Development: Chansoo Kim (T7MYKWLF92)
CODE_SIGN_STYLE=Manual
DEVELOPMENT_TEAM=4NV4Z6BW27
ENABLE_PREVIEWS=YES
IPHONEOS_DEPLOYMENT_TARGET=16.0
OTHER_LDFLAGS=-ObjC
PRODUCT_BUNDLE_IDENTIFIER=com.chansoo.MOIT
PRODUCT_NAME=MOIT
PROVISIONING_PROFILE_SPECIFIER=match Development com.chansoo.MOIT
SDKROOT=iphoneos
SUPPORTS_MACCATALYST=NO
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1

LD_RUNPATH_SEARCH_PATHS[config=Debug]=$(inherited) @executable_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Release]=$(inherited) @executable_path/Frameworks
SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Debug]=DEBUG
SWIFT_COMPILATION_MODE[config=Debug]=singlefile
SWIFT_COMPILATION_MODE[config=Release]=wholemodule
SWIFT_OPTIMIZATION_LEVEL[config=Debug]=-Onone
SWIFT_OPTIMIZATION_LEVEL[config=Release]=-Owholemodule
